*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-image: linear-gradient(
        to right bottom, rgba(255, 255, 255, 0.4) 100%, transparent 65%), url('/images/Valyriangods.jpg');
    background-size: cover;
}


.navbar{
    margin-bottom: auto;
    width: 100%;
    height: 80px;
}

.navbar-text{
    font-size: 2.75rem;
    margin: 0 auto;
    padding: 1rem 0;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 0;

}

.input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    flex: 1;
}

.input-title{
    font-size: 26px;
}

#usertext{
    margin-top: 10px;
    width: 500px;
    height: 150px;
    resize: none;
    font-size: 18px;
    padding: 10px;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

#btn-translate {
    border-radius: 28px;
    color: #000000;
    font-size: 20px;
    background: darkslateblue;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 2px solid #000000;
}

.output-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    flex: 1;
}

.output-title{
    font-size: 26px;
}

#translation{
    margin-bottom: 10px;
    width: 500px;
    height: 150px;
    resize: none;
    font-size: 18px;
    padding: 10px;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  footer a{
    font-size: 2rem;
    color: rgb(5, 1, 12);
    padding: 0.5rem;
    /* margin-right: 1rem; */
  
  }
  
  footer a:not(:last-child){
    margin-right: 1rem;
  }
  
  footer p{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;

  }
  





  .App {
    width: 600px;
    font-family: "Baloo Bhai 2";
    text-align: center;
    margin: auto;
    padding: 2rem;
  }
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;700&display=swap');
  
  h1,
  h4 {
    padding: "1rem";
  }
  
  button {
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: small;
    background-color: aquamarine;
  }
  li {
    list-style: none;
    border: 1px aquamarine;
    border-radius: 0.5rem;
  
    border-style: groove;
  
    margin: 1rem;
    padding: 1rem;
  
    width: 70%;
  }